/*Box que engloba todo o site*/
.principal{
	width:100%;
	border:1px solid #006;
	border-radius: 0.5em;
	margin:auto;
	box-shadow: #CCC 0.1em 0.2em 0.4em 0.1em;
}
.tabuada{
	float:left;
}
/*Div responsável por montar um cabeçalho*/
.cabecalho{
	width:100%;
	background-color:#036;
	color:#ccc;
	font-size:22px;
	float:left;	
	border-radius: 0.3em 0.3em 0em 0em;
	padding:10px;
}

img{
	border-radius: 1em 1em 1em 1em;
	box-shadow:#999 0.1em 0.1em 0.1em 0.1em;
}

/*Div que ficará no centro da tela com as informações*/
.centro{
	width:100%;
	background-color:#fff;
	padding: 5px;
	text-align:center;
}
/*Div que monta o rodapé das páginas*/
.rodape{
	clear:both;
	width:100%;
	background-color:#036;
	border-radius: 0em 0em 0.3em 0.3em;
	padding: 5px;
	color:#CCC;
	text-align:right;
}

.menu{
	width:100%;
	border:#999 1px solid;
	background-color:#FFF;
	border-radius: 0em 0em 0.3em 0.3em;
	color:#CCC;
	text-align:left;
	box-shadow:#999 0.1em 0.1em 0.1em 0.1em;
}

.titulo{
    color:#666;
    border:#000 1px solid;
    background-color: #fff;
    margin: 10px;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    box-shadow: #ebebeb 0.1em 0.1em 0.5em 0.1em;
    padding: 1px;
    float: left;
}

